body {
height: 100%; 
display: flex;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: black;
margin: 0px;
padding: 0px;

}

#container {
display: grid;
width: 100vw;
grid-template-columns: 1fr 4fr;
height: 100%;


}

